In [7]:
import psycopg2
import pgadmin_password
import pandas as pd

In [20]:
conn = psycopg2.connect(database="Wine_Quality_DB",
                        host="localhost",
                        user="postgres",
                        password=pgadmin_password.pgadmin_password,
                        port="5432")

In [25]:
cursor = conn.cursor()

In [26]:
cursor.execute("SELECT * FROM wine")

In [27]:
fetched = cursor.fetchall()

In [ ]:
colnames = [desc[0] for desc in cursor.description]
colnames

In [29]:
df = pd.DataFrame(fetched, columns=colnames)
df.head()

,wine_id,wine_type_id,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfure_dioxide,density,ph,sulphates,alcohol,quality
0,1,0,7.4,0.7,0.0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
1,2,0,7.8,0.88,0.0,2.6,0.098,25,67,0.9968,3.2,0.68,9.8,5
2,3,0,7.8,0.76,0.04,2.3,0.092,15,54,0.997,3.26,0.65,9.8,5
3,4,0,11.2,0.28,0.56,1.9,0.075,17,60,0.998,3.16,0.58,9.8,6
4,5,0,7.4,0.7,0.0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5

In [31]:
df.reset_index(drop=True, inplace=True)

In [32]:
df

,wine_id,wine_type_id,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfure_dioxide,density,ph,sulphates,alcohol,quality
0,1,0,7.4,0.7,0.0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
1,2,0,7.8,0.88,0.0,2.6,0.098,25,67,0.9968,3.2,0.68,9.8,5
2,3,0,7.8,0.76,0.04,2.3,0.092,15,54,0.997,3.26,0.65,9.8,5
3,4,0,11.2,0.28,0.56,1.9,0.075,17,60,0.998,3.16,0.58,9.8,6
4,5,0,7.4,0.7,0.0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6493,1,6.2,0.21,0.29,1.6,0.039,24,92,0.99114,3.27,0.5,11.2,6
6493,6494,1,6.6,0.32,0.36,8.0,0.047,57,168,0.9949,3.15,0.46,9.6,5
6494,6495,1,6.5,0.24,0.19,1.2,0.041,30,111,0.99254,2.99,0.46,9.4,6
6495,6496,1,5.5,0.29,0.3,1.1,0.022,20,110,0.98869,3.34,0.38,12.8,7
6496,6497,1,6.0,0.21,0.38,0.8,0.02,22,98,0.98941,3.26,0.32,11.8,6