In [1]:
# Import packages
import psycopg2
import pgadmin_password
import pandas as pd

In [2]:
# Create connection object for AWS
conn = psycopg2.connect(database="Wine_Quality",
                        host="wine-quality-db.c9tisna2dx0v.us-east-2.rds.amazonaws.com",
                        user="postgres",
                        password=pgadmin_password.pgadmin_password,
                        port="5432")

In [3]:
# Create cursor
cursor = conn.cursor()

In [4]:
# Execute command to pgAdmin
cursor.execute("SELECT * FROM wine")

In [5]:
fetched = cursor.fetchall()

In [6]:
# Pull out column names
colnames = [desc[0] for desc in cursor.description]
colnames

['wine_id',
 'wine_type_id',
 'fixed_acidity',
 'volatile_acidity',
 'citric_acid',
 'residual_sugar',
 'chlorides',
 'free_sulfur_dioxide',
 'total_sulfure_dioxide',
 'density',
 'ph',
 'sulphates',
 'alcohol',
 'quality']

In [7]:
# Create dataframe
df = pd.DataFrame(fetched, columns=colnames)
df.head()

,wine_id,wine_type_id,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfure_dioxide,density,ph,sulphates,alcohol,quality
0,1,0,7.4,0.7,0.0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
1,2,0,7.8,0.88,0.0,2.6,0.098,25,67,0.9968,3.2,0.68,9.8,5
2,3,0,7.8,0.76,0.04,2.3,0.092,15,54,0.997,3.26,0.65,9.8,5
3,4,0,11.2,0.28,0.56,1.9,0.075,17,60,0.998,3.16,0.58,9.8,6
4,5,0,7.4,0.7,0.0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5

In [8]:
# Change index to wine_id
df = df.set_index('wine_id')
df.head()

,wine_type_id,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfure_dioxide,density,ph,sulphates,alcohol,quality
wine_id,,,,,,,,,,,,,
1,0,7.4,0.7,0.0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
2,0,7.8,0.88,0.0,2.6,0.098,25,67,0.9968,3.2,0.68,9.8,5
3,0,7.8,0.76,0.04,2.3,0.092,15,54,0.997,3.26,0.65,9.8,5
4,0,11.2,0.28,0.56,1.9,0.075,17,60,0.998,3.16,0.58,9.8,6
5,0,7.4,0.7,0.0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5

In [9]:
# Check for nulls
df.isnull().values.any()

False